<footer class="footer">
  <div class="footer__bio">
    <p>Hi, my name is Jack Marchant. I'm a Web Developer based in Sydney, Australia.
      I found Elixir while working at <a href="https://expert360.com" target="_blank" rel="nofollow">Expert360</a> and
      so far have never looked back. I enjoy reading, writing and talking about code.
    </p>
  </div>
  <div class="footer__links">
    <a class="button social-link" href="https://twitter.com/jackmarchant10" target="_blank" rel="nofollow">Twitter</a>
    <a class="button social-link" href="https://github.com/jackmarchant" target="_blank" rel="nofollow">GitHub</a>
    <a class="button social-link" href="https://www.linkedin.com/in/jack-marchant" target="_blank" rel="nofollow">LinkedIn</a>
  </div>
  <p>Copyright &copy; <%= NaiveDateTime.utc_now().year %></p>
</footer>