<div>
  <h2 class="page-title">Articles</h2>

  <%= for post <- assigns.posts do %>

  <div class="post-listing">
    <h3 class="post-listing__title"><a href="/articles/<%= post.slug %>"><%= post.title %></a></h3>
    <p class="post-listing__date">
      <%= format_date(post.published_date) %>
      <%= if post.reading_time do %>
        &middot; <%= post.reading_time %> min read
      <% end %>
    </p>
    <p class="post-listing__blurb"><%= post.blurb %></p>
  </div>

  <% end %>
  
<div>
