
/* Post Listing */

.post-listing {
  margin-bottom: 10px;
}

.post-listing__title {
  font-size: 24px;
  margin-bottom: 0;
}

.post-listing__date {
  font-style: italic;
  font-size: 14px;
}

.post-listing__blurb, .post-listing__date {
  margin-top: 0;
  margin-bottom: 0;
}

/* Post */

.post__title {
  font-size: 32px;
  margin-bottom: 0;
}

.post__date {
  font-style: italic;
  font-size: 14px;
  margin-top: 0;
}

/* Post content */

.post__content pre {
  background-color: #f7f9fc;
  border-radius: 3px;
  border: 1px solid #d2ddee;
  font-family: Courier New, monospace;
  overflow: auto;
  padding: 12px;
  -webkit-overflow-scrolling: touch;
}

.post__content code.inline {
  font-size: 16px;
}

.post__content ul {
  padding-left: 24px;
}

.post__content li {
  line-height: 1.5;
  margin-bottom: 12px;
  font-size: 18px;
}

.post__content blockquote {
  border-left: 3px solid #202020;
  padding-left: 12px;
  margin-left: 0;
}

/* Button */

.button {
  background-color: #202020;
  color: #ffffff;
  font-weight: bold;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 8px 12px;
  font-size: 16px;
  border: none;
}

.button--read-more {
  margin-top: 12px;
  margin-bottom: 12px;
  display: inline-block;
}

/* Page */

.page-title {
  font-size: 42px;
}

.social-link {
  margin-right: 8px;
}

/* Alerts */
.alert {
  position: fixed;
  text-align: center;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid;
  left: 0;
  top: 0;
}

.alert--info {
  background-color: #efefef;
  border-color: #bcbcbc
}

.alert--error {
  border-color: #906868;
  background-color: #fb3f3f;
  color: #ffffff;
}