/* Form */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.label--hidden {
  visibility: hidden;
}

.form-group {
  margin-bottom: 12px;
}

.form-field {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  text-indent: 8px;
  border: 1px solid #efefef;
  font-size: 18px;
  -webkit-appearance: none;
  border-radius: 3px;
  font-family: 'PT Sans Narrow', sans-serif;
}

.form-field:focus {
  outline: 1px solid #ff213b;
}

legend {
  margin-bottom: 10px;
}